In [194]:
import pandas as pd 
import requests
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import scipy.stats as stats

In [195]:
#Function to fetch table to data
def fetch_data_from_url(url):
    #gets the page content from the url 
    html = requests.get(url).content
    #read the table content of html 
    df_list = pd.read_html(html)
    #targets the first table from the list of table
    df = df_list[0]
    df.index += 1 
    return df

In [196]:
#a better way to do this 
urls = ["http://seismonepal.gov.np/earthquakes/1994",
       "http://seismonepal.gov.np/earthquakes/1995",
       "http://seismonepal.gov.np/earthquakes/1996",
       "http://seismonepal.gov.np/earthquakes/1997",
       "http://seismonepal.gov.np/earthquakes/1998",
       "http://seismonepal.gov.np/earthquakes/1999",
       "http://seismonepal.gov.np/earthquakes/2000",
       "http://seismonepal.gov.np/earthquakes/2001",
       "http://seismonepal.gov.np/earthquakes/2002",
       "http://seismonepal.gov.np/earthquakes/2003",
       "http://seismonepal.gov.np/earthquakes/2004",
       "http://seismonepal.gov.np/earthquakes/2005",
       "http://seismonepal.gov.np/earthquakes/2006",
       "http://seismonepal.gov.np/earthquakes/2007",
       "http://seismonepal.gov.np/earthquakes/2008",
       "http://seismonepal.gov.np/earthquakes/2009",
       "http://seismonepal.gov.np/earthquakes/2010",
       "http://seismonepal.gov.np/earthquakes/2011",
       "http://seismonepal.gov.np/earthquakes/2012",
       "http://seismonepal.gov.np/earthquakes/2013",
       "http://seismonepal.gov.np/earthquakes/2014",
       "http://seismonepal.gov.np/earthquakes/2015",
       "http://seismonepal.gov.np/earthquakes/2016",
       "http://seismonepal.gov.np/earthquakes/2017",
       "http://seismonepal.gov.np/earthquakes/2018",
       "http://seismonepal.gov.np/earthquakes/2019",]

#getting all the data from 1994-2019 in one place     
result = []
for url in urls:
    result.append(fetch_data_from_url(url))

In [328]:
#concatenate all the table from result array to one dataframe
df = pd.concat(result)

In [329]:
#dropping the un-necessary columns
df = df.drop(['Form','Remarks'],axis = 1)

In [330]:
# check data type of each columns
df.columns = ['Date','Time','Lat',"Long","Magnitude","Epicenter"]

In [331]:
len(df)

963

In [332]:
#change the Date column to a proper format
dates = []
for line in df.Date:
#   Split the two dates given 
    date = line.split()
    date = line.split(":")
    del date[:2]
    dates.append(date)

In [333]:
len(dates)

963

In [334]:
# Change the Time column to standard format
Times = []
for line in df.Time:
    Time = line.split("Local:")  
    del Time[0]
    for time_line in Time:
        Time = time_line.split('UTC:')
        del Time[1]
#         print(Time)
    Times.append(Time)

In [335]:
len(Times)

963

In [336]:
#Covert the date and time column to pandas dataframe
Times = pd.DataFrame(Times)
Times.columns =['Time']
Dates = pd.DataFrame(dates)
Dates.columns=['Date']

In [337]:
print(len(Times),len(Dates))

963 963

In [338]:
# Concatenate the date and time dataframe together separated by space
Dates['DateTime'] = Dates["Date"]+ " " + Times["Time"].map(str)

In [339]:
#Convert the DateTime column to datetime type
Dates['DateTime'] = pd.to_datetime(Dates['DateTime'],  errors='coerce')

In [340]:
#reset the index to start from 0 
df_1= df.reset_index()
df = df_1

In [341]:
# Merge the datetime column to the main dataframe
df['DateTime'] = Dates['DateTime']

In [342]:
#Drop the columns not required
df = df.drop(['Date','Time','index'],axis = 1)

In [343]:
df.to_csv('earthquake.csv')

In [92]:
#Merge the newly created dates array to the dataframe
df['Dates'] = dates
#convert the column to datetime 
df['Dates'] = df['Dates'].apply(lambda x: pd.to_datetime(x[0]))
#drop the old date column

In [192]:
Times = pd.DataFrame(Times)
Times.columns =['x']

dtype('O')

In [265]:
new = df.groupby(['Epicenter'])['Magnitude(ML)'].count()
new_1 = df.groupby(['Magnitude(ML)'])['Epicenter'].count()

In [217]:
# with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
#     print(new)

In [294]:
df = df.drop(['index'], axis = 1)

In [311]:
#Drop columns with India
# df_2 = df[df.Epicenter != 'NaN']
# df.Epicenter.isnull()
df.isnull().sum()

Date             0
Time             0
Latitude         0
Longitude        0
Magnitude(ML)    0
Epicenter        1
dtype: int64

In [222]:
np.where(df.Epicenter == "India")

(array([ 7, 11, 14, 37]),)

In [306]:
df

,Date,Time,Latitude,Longitude,Magnitude(ML),Epicenter
0,B.S:2051-8-28 A.D:1994-12-13,Local:11:00UTC:N/A,28.700,82.880,4.6,Rukum
1,B.S:2051-8-27 A.D:1994-12-12,Local:11:00UTC:N/A,29.840,80.690,4.6,Darchula
2,B.S:2051-8-12 A.D:1994-11-27,Local:11:00UTC:N/A,29.720,81.560,4.5,Bajura
3,B.S:2051-8-6 A.D:1994-11-21,Local:11:00UTC:N/A,29.540,81.150,4.2,Bajhang
4,B.S:2051-7-8 A.D:1994-10-24,Local:11:00UTC:N/A,28.920,82.000,4.7,Jajarkot
5,B.S:2051-7-6 A.D:1994-10-22,Local:11:00UTC:N/A,29.000,82.260,4.6,Jajarkot
6,B.S:2051-6-10 A.D:1994-09-25,Local:11:00UTC:N/A,28.340,87.350,4.8,Sankhuwasabha
8,B.S:2051-4-3 A.D:1994-07-17,Local:11:00UTC:N/A,29.370,81.520,5.5,Bajura
9,B.S:2051-3-11 A.D:1994-06-25,Local:05:45UTC:00:00,27.750,86.160,5.1,Dolakha
10,B.S:2052-6-18 A.D:1995-10-04,Local:11:15UTC:05:30,28.270,84.440,4.7,Lamjung
12,B.S:2052-4-23 A.D:1995-08-07,Local:11:00UTC:N/A,29.880,81.630,5.0,Bajura
13,B.S:2052-4-19 A.D:1995-08-03,Local:11:00UTC:N/A,30.040,81.540,4.8,Humla
15,B.S:2052-2-29 A.D:1995-06-11,Local:11:00UTC:N/A,27.220,87.950,4.2,Taplejung
16,B.S:2052-1-5 A.D:1995-04-17,Local:11:00UTC:N/A,29.510,81.710,4.7,Bajura
17,B.S:2051-11-7 A.D:1995-02-18,Local:11:00UTC:N/A,27.740,85.880,4.6,Kavrepalanchowk
18,B.S:2051-10-17 A.D:1995-01-30,Local:11:00UTC:N/A,29.320,82.190,4.3,Jumla
19,B.S:2051-10-17 A.D:1995-01-30,Local:11:00UTC:N/A,29.380,82.300,4.2,Jumla
20,B.S:2051-10-16 A.D:1995-01-29,Local:11:00UTC:N/A,26.850,86.110,4.5,Dhanusa
21,B.S:2051-10-6 A.D:1995-01-19,Local:11:00UTC:N/A,28.350,83.440,4.3,Magdi
22,B.S:2053-9-15 A.D:1996-12-29,Local:11:00UTC:N/A,29.750,81.828,5.2,Humla
23,B.S:2053-9-8 A.D:1996-12-22,Local:11:00UTC:N/A,29.012,81.726,4.4,Dailekh
24,B.S:2053-8-19 A.D:1996-12-03,Local:11:00UTC:N/A,27.390,86.842,5.3,Solukhumbu
25,B.S:2053-7-24 A.D:1996-11-08,Local:11:00UTC:N/A,29.667,81.699,4.9,Humla
26,B.S:2053-7-20 A.D:1996-11-04,Local:11:00UTC:N/A,29.630,81.859,4.9,Mugu
27,B.S:2053-7-1 A.D:1996-10-16,Local:11:00UTC:N/A,28.778,79.951,4.4,NaN
28,B.S:2053-3-27 A.D:1996-07-10,Local:11:00UTC:N/A,29.616,81.981,4.6,Mugu
29,B.S:2053-1-15 A.D:1996-04-26,Local:11:00UTC:N/A,27.935,87.705,5.3,Taplejung
30,B.S:2052-11-17 A.D:1996-02-28,Local:11:00UTC:N/A,27.122,86.766,4.8,Udayapur
31,B.S:2054-8-24 A.D:1997-12-08,Local:11:00UTC:N/A,27.190,86.850,5.0,Khotang
32,B.S:2054-8-13 A.D:1997-11-27,Local:11:00UTC:N/A,27.740,87.000,5.5,Solukhumbu
...,...,...,...,...,...,...
932,B.S:2075-4-1 A.D:2018-07-17,Local:22:52UTC:17:07,27.820,84.810,4.4,Dhading
933,B.S:2075-3-29 A.D:2018-07-13,Local:08:58UTC:03:13,29.570,81.560,4.1,Bajura
934,B.S:2075-3-21 A.D:2018-07-05,Local:07:21UTC:01:36,28.110,85.040,4.1,Dhading
935,B.S:2075-3-14 A.D:2018-06-28,Local:09:52UTC:04:07,27.870,84.910,5.0,Dhading
936,B.S:2075-3-6 A.D:2018-06-20,Local:10:00UTC:04:15,27.310,87.900,4.7,Taplejung
937,B.S:2075-3-6 A.D:2018-06-20,Local:09:54UTC:04:09,27.360,88.010,4.8,Taplejung
938,B.S:2075-2-22 A.D:2018-06-05,Local:07:19UTC:01:34,29.680,81.650,4.9,Bajura
939,B.S:2075-2-18 A.D:2018-06-01,Local:21:07UTC:15:22,27.680,86.110,4.3,Dolakha
940,B.S:2075-2-17 A.D:2018-05-31,Local:21:45UTC:16:00,28.900,81.770,4.3,Dailekh
941,B.S:2075-2-18 A.D:2018-05-31,Local:02:17UTC:20:32,28.170,84.890,4.1,gorkha
942,B.S:2075-2-10 A.D:2018-05-24,Local:20:10UTC:14:25,29.980,80.540,4.6,Dharchula
943,B.S:2075-1-22 A.D:2018-05-05,Local:20:49UTC:15:04,27.740,88.130,4.4,Taplejung
944,B.S:2074-11-18 A.D:2018-03-02,Local:10:51UTC:05:06,27.700,86.330,4.6,Dolakha
945,B.S:2074-11-15 A.D:2018-02-26,Local:00:45UTC:19:00,27.700,86.330,4.7,Dolakha
946,B.S:2074-11-9 A.D:2018-02-21,Local:21:44UTC:15:59,28.070,85.960,4.3,Tibet
947,B.S:2074-10-5 A.D:2018-01-19,Local:08:38UTC:02:53,27.720,86.010,4.3,Dolakha
948,B.S:2076-1-11 A.D:2019-04-24,Local:06:40UTC:00:55,27.700,85.140,4.3,Dhading
949,B.S:2076-1-11 A.D:2019-04-24,Local:06:29UTC:00:44,27.690,85.170,5.2,Dhading
950,B.S:2076-1-3 A.D:2019-04-16,Local:12:35UTC:06:50,28.000,84.760,4.5,Gorkha
951,B.S:2076-1-2 A.D:2019-04-14,Local:04:27UTC:22:42,29.490,81.240,4.8,Bajhang
952,B.S:2075-12-30 A.D:2019-04-13,Local:10:25UTC:04:40,28.030,85.380,4.6,Rasuwa
953,B.S:2075-12-26 A.D:2019-04-09,Local:13:05UTC:07:20,27.760,86.270,4.2,Dolakha
954,B.S:2075-12-18 A.D:2019-04-01,Local:20:47UTC:15:02,28.980,81.690,4.1,Dailekh
955,B.S:2075-12-4 A.D:2019-03-18,Local:09:01UTC:03:16,27.630,85.160,4.1,Makawanpur
956,B.S:2075-11-14 A.D:2019-02-26,Local:16:20UTC:10:35,27.840,85.950,4.1,Sindhupalchok
957,B.S:2075-11-14 A.D:2019-02-26,Local:16:15UTC:10:30,27.660,86.000,4.4,Dolakha
958,B.S:2075-11-4 A.D:2019-02-16,Local:20:34UTC:14:49,27.680,85.270,4.0,Kathmandu
959,B.S:2075-11-2 A.D:2019-02-14,Local:17:11UTC:11:26,27.810,88.180,4.6,Taplejung
960,B.S:2075-10-8 A.D:2019-01-22,Local:22:30UTC:16:45,27.090,86.960,4.5,Bhojpur
961,B.S:2075-9-26 A.D:2019-01-10,Local:11:34UTC:05:49,27.600,86.310,4.5,Ramechhap

In [273]:
df.to_csv('foo.csv')